<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>1 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Page Content -->
<div class="container">
	
<!-- Page Heading -->
<div class="row">
   	<div class="col-lg-8">
      	<h1 class="page-header">Galeria
         	<small>Noticias</small>
      	</h1>
   	</div>
	<div class="col-lg-4">
	
		<button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseBusqueda" aria-expanded="false" >
      		<h3>Busqueda avanzada</h3>
      	</button>
			
	</div>
</div>
	
<div class="row">
   	<div class="col-lg-12">
		
		<div class="collapse" id="collapseBusqueda">
		  <br>
         <div class="card card-body">
			 
					<div class="row">
						<div class="col-md-2">
							<p>Provincia:</p>
							<label for="provincia" class="sr-only">Provincia:</label> 
							<select name="provincia" id="provincia" class="form-control medio" placeholder="Provincia" busqueda="1">
								<option value="alava">Álava</option>
								<option value="albacete">Albacete</option>
								<option value="alicante">Alicante/Alacant</option>
								<option value="almeria">Almería</option>
								<option value="asturias">Asturias</option>
								<option value="avila">Ávila</option>
								<option value="badajoz">Badajoz</option>
								<option value="barcelona">Barcelona</option>
								<option value="burgos">Burgos</option>
								<option value="caceres">Cáceres</option>
								<option value="cadiz">Cádiz</option>
								<option value="cantabria">Cantabria</option>
								<option value="castellon">Castellón/Castelló</option>
								<option value="ceuta">Ceuta</option>
								<option value="ciudadreal">Ciudad Real</option>
								<option value="cordoba">Córdoba</option>
								<option value="cuenca">Cuenca</option>
								<option value="girona">Girona</option>
								<option value="laspalmas">Las Palmas</option>
								<option value="granada">Granada</option>
								<option value="guadalajara">Guadalajara</option>
								<option value="guipuzcoa">Guipúzcoa</option>
								<option value="huelva">Huelva</option>
								<option value="huesca">Huesca</option>
								<option value="illesbalears">Illes Balears</option>
								<option value="jaen">Jaén</option>
								<option value="acoruña">A Coruña</option>
								<option value="larioja">La Rioja</option>
								<option value="leon">León</option>
								<option value="lleida">Lleida</option>
								<option value="lugo">Lugo</option>
								<option value="madrid">Madrid</option>
								<option value="malaga">Málaga</option>
								<option value="melilla">Melilla</option>
								<option value="murcia">Murcia</option>
								<option value="navarra">Navarra</option>
								<option value="ourense">Ourense</option>
								<option value="palencia">Palencia</option>
								<option value="pontevedra">Pontevedra</option>
								<option value="salamanca">Salamanca</option>
								<option value="segovia">Segovia</option>
								<option value="sevilla">Sevilla</option>
								<option value="soria">Soria</option>
								<option value="tarragona">Tarragona</option>
								<option value="santacruztenerife">Santa Cruz de Tenerife</option>
								<option value="teruel">Teruel</option>
								<option value="toledo">Toledo</option>
								<option value="valencia">Valencia/Valéncia</option>
								<option value="valladolid">Valladolid</option>
								<option value="vizcaya">Vizcaya</option>
								<option value="zamora">Zamora</option>
								<option value="zaragoza">Zaragoza</option>
							</select>
							<p>Ciudad:</p>
							<label for="ciudad" class="sr-only">Ciudad:</label> <input default="0" type="text" name="ciudad" id="ciudad" class="form-control medio" placeholder="Ciudad..."  busqueda="1" > 
						</div>
						
						<div class="col-md-2">

							<p>Baños:</p>
							<label for="baños" class="sr-only">baños:</label> <input type="number" name="baños" id="baños" class="form-control peque" placeholder="0" min="0"  busqueda="1"> 
							<p>Habitaciones:</p>
							<label for="habitaciones" class="sr-only">habitaciones:</label> <input type="number" default="0" name="habitaciones" id="habitaciones" class="form-control peque" placeholder="0" min="0"  busqueda="1" > 
							
						</div>
						
						<div class="col-md-2">

							<p>Salon:</p>
							<label for="baños" class="sr-only">Salon:</label> <input type="number" name="salon" id="salon" class="form-control peque" placeholder="0" min="0"  busqueda="1"> 
							<p>cocina:</p>
							<label for="habitaciones" class="sr-only">cocina:</label> <input type="number" default="0" name="cocina" id="cocina" class="form-control peque" placeholder="0" min="0"  busqueda="1" > 
		
						</div>

						<div class="col-md-2">
								
							<button class="btn btn-info" type="button" aria-expanded="false" > <h3>Buscar</h3> </button>
								
						</div>
						
						<div class="col-md-2">

							<p>Tipo:</p>
							<label for="tipo" class="sr-only">Tipo:</label> 
							<select name="tipo" id="tipo" class="form-control medio" >
								<option value="local">Local</option>
								<option value="tierras">Tierras</option>
								<option value="apartamento">Apartamento</option>
								<option value="chalet">Chalet</option>
								<option value="parcela">Parcela</option>
							</select>
							<p>Situacion:</p>
							<label for="situacion" class="sr-only">Situación:</label> 
							<select type="text" name="situacion" id="situacion" class="form-control medio" placeholder="Situacion..." >
								<option value="venta">Venta</option>
								<option value="alquiler">Alquiler</option>
							</select>
		
						</div>
						
					</div>
            
         </div>
      	</div>
		
	</div>
</div>
	
<!-- /.row -->
<!-- Project One -->
	
<hr>
<div class="row">
   <div class="col-md-3">
	   
      <a href="#">
      <img class="col-md-12" src="http://placehold.it/370x280" alt="">
      </a>
	   
   </div>
   <div class="col-md-6">
	  <h3>Apartamento en Donosti <small>100m² </small></h3> 
      <h4>Calle zonal 14 3ºb</h4>
	  <br>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDescripcion" aria-expanded="false" aria-controls="collapseExample">
         <h4>Descripcion</h4>
      </button>
	   
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseHabitaciones" aria-expanded="false" aria-controls="collapseExample">
         <h4>Habitaciones</h4>
      </button>
	   
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExtra" aria-expanded="false" aria-controls="collapseExample">
         <h4>Extras</h4>
      </button>
	   
	</div>
	
	<div class="col-md-3" id="opciones">
		
		<button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseBusqueda" aria-expanded="false" >
      		<h3>Eliminar</h3>
      	</button>
		
		<hr>
		
		<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseBusqueda" aria-expanded="false" >
      		<h1>&#9829;</h1>
      	</button>
		
   	</div>
	   
		<div class="col-md-12">
	
      <div class="collapse" id="collapseDescripcion">
		  <br>
         <div class="card card-body">
            <p>contenido: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
         </div>
      </div>
	   
	  <div class="collapse" id="collapseHabitaciones">
		    <br>
         <div class="card card-body">
            <ul>
               <li>Dormitorios: 2</li>
               <li>Baños: 1</li>
               <li>jardin: si</li>
               <li>balcon: no</li>
               <li>balcon: no</li>
               <li>Dormitorios: 2</li>
               <li>Baños: 1</li>
               <li>jardin: si</li>
               <li>balcon: no</li>
            </ul>
         </div>
      </div>
	   
	  <div class="collapse" id="collapseExtra">
		    <br>
         <div class="card card-body">
            <ul>
               <li>Acceso minusvalidos: si</li>
               <li>Conserje: si</li>
               <li>Zona comunitaria: no</li>
               <li>Seguridad: si</li>
            </ul>
         </div>
      </div>
	</div>
</div>
<!-- /.row -->
<hr>
       
	</div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
