

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.easyPaginateNav{ 
   width: 99%;
   top: 33px;
   color:black;
  padding-bottom: 50px;
}
.easyPaginateNav a { font-weight:bolder;margin:1px;padding:3px;border-style: solid;border-width: 1px;background-color: white;border-radius: 6px;color:black;}
.easyPaginateNav a.current {text-decoration:underline;color:blue;background-color:lightblue;}